<% if (theme.duoshuo_shortname){ %>
<div class="comment link" data-id="<%= post.path %>" data-title="<%= post.title %>" data-url="<%= post.permalink %>" data-shortname="<%- theme.duoshuo_shortname%>">查看评论</div>
<% } %>
