<%- partial('_partial/head', null, {cache: true}) %>
<body class="loading">
    <div id="loader"></div>
    <%- body %>
</body>
<%- partial('_partial/scripts', null, {cache: true}) %>
<%- partial("_partial/google-analytics", {cache: true}) %>
</html>