<div id="single" class="page">
    <div id="top">
        <a class="iconfont icon-left image-icon" href="javascript:history.back()"></a>
    </div>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                <% if (page.search || page.type === "search") { %>
                    <%- partial('_partial/search') %>
                <% } else if (page.type === "tags") { %>
                    <%- partial('_partial/tags') %>
                <% } else if (page.type === 'categories') { %>
                    <%- partial('_partial/categories') %>
                <% } else { %>
                        <%- page.content %>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
