<div id="single" class="page">
    <div id="top">
        <a class="icon-left image-icon" href="javascript:history.back()"></a>
    </div>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>
</div>
