<div class="set">
	<h2 style="color:gray;">搜索</h2>
	<div id="site_search" class="search">
		<input type="text" id="local-search-input" class="search-input" placeholder="你想找些什么？" />
	    <div id="local-search-result" class="local-search-result"></div>
	</div>
</div>
