<div class="set">
    <h2 style="color:gray;"><%-__('search')%></h2>
    <div id="site_search" class="search">
    <input type="text" id="local-search-input" class="search-input" placeholder="<%-__('search_tip')%>" />
        <div id="local-search-result" class="local-search-result"></div>
    </div>
</div>
