<div class="set">		
  <h1 style="font-weight: bold;color:gray;">标签</h1><hr>
  <%- tagcloud({min_font: 14, max_font: 36, amount: 200, color: true, start_color: '#9E9E9E', end_color: 'gray'}) %>
</div>
